body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(rgb(87, 140, 255), rgb(34, 70, 147));
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#title {
    color: rgb(255, 255, 255);
    font-size: 9vh;
    font-family: "Itim", sans-serif;
    text-align: center;
}

.cell {
    width: 9.5vh;
    height: 9.5vh;
    border: 1.15vh solid whitesmoke;
    border-radius: 4vh;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: white;
    font-family: "Itim", sans-serif;
    font-size: 6vh;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.cell:active {
    background-color: rgba(255, 255, 255, 0.4);
}

#cell_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    width: 35vh;
    height: 35vh;
    justify-items: center;
}

#restart_icon {
    position: relative  ;
    width: 12vh;
    height: 12vh;
    right: 2.8vh;
    bottom: 2.5vh;
}

#restart_button {
    width: 8vh;
    height: 8vh;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    position: relative;
    top: 8.5vh;
    left: 5.5vh;
    border-radius: 6vh;
}

h3 {
    color: white;
    font-family: "Imit", sans-serif;
    font-size: 6vh;
}

#scores {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
    column-gap: 37vh;
    width: 50vh;
    justify-content: center;
}

#player_score {
    color: rgb(255, 96, 68);
}

#computer_score {
    color: rgb(50, 111, 255);
}